* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: lavenderblush;
}

/*Start Header*/
header {
    padding: 20px;
    background-color: plum;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 48px;
    color: dimgray;
}

header a {
    text-decoration: none;
    color: dimgray;
}

header nav {
    margin: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    margin: 10px, 15px;
    font-weight: lighter;
    font-size: 24px;
}

/* Start Hero*/

.hero {
    background-image: url("../images/grayscale-rose.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 300px;
}

.hero h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-style: italic;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    }

/*About Me Starts*/
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me h2 {
    border-right: 5px solid dimgray;
    text-align: right;
    padding-right: 40px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
}